<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Waiter Availability App </title>
    
</head>
<body>
    <div class="row">
        <div class="col-12">
            <div class="head-title">
                <h1>Waiter Availability </h1>
                <h2>Hello Admin</h2>
                <hr>
            </div>            
        </div>    
    </div>
    
</body>
</html>
    
    
