<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Waiter Availability App </title>

</head>

<body>
    <div class="row">
        <div class="col-12">
            <div class="head-title">
                <h1>Waiter Availability </h1>
                <h3>Welcome To The Waiter Availability App</h3>
                <hr>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                
                
                   <a href="/waiterLog"><input class="btn btn-primary" type="submit" value="waiter login"></a> 
                


                
                   <a href="/adminLog"><input class="btn btn-primary"  type="submit" value="admin login"></a> 
                
                
            </div>
            <div class="col-4"></div>
        </div>
    </div>

</body>