<body>
    
    <form action="/test" method="get">
    <input type="text" name="id0" id="">
        <input type="submit" value="submit test">
    </form>

    

    {{!-- <form action="/test" method="post">

    </form> --}}
</body>