<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="simple-grid.css">
    <link rel="stylesheet" href="style.css">
    <script src="jquery-3.6.0.js"></script>
    <title>Waiter Availability App</title>
</head>

<body>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Waiter Availability App </title>

    </head>

    <body>
        <form action="/waiters" method="post">
            <div class="row">
                <div class="col-12">
                    <div class="head-title">
                        <h1>Waiter Availability Program</h1>
                        <h3> Hello, {{user}}</h3>
                        <hr>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-3"></div>
                <div class="col-3"></div>
                <div class="col-3"></div>
                <div class="col-3"></div>

            </div>


            <div class="container-fluid">
                <div class="row">
                    <div class="col-2-sm"></div>
                    <div class="col-8-sm">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="days" type="checkbox" id="inlineCheckbox1"
                                value="monday">
                            <label class="form-check-label" for="inlineCheckbox1">Monday</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="days"
                                value="tuesday">
                            <label class="form-check-label" for="inlineCheckbox1">Tuesday</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="days"
                                value="wednesday">
                            <label class="form-check-label" for="inlineCheckbox1">Wednesday</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="days" id="inlineCheckbox1"
                                value="thursday">
                            <label class="form-check-label" for="inlineCheckbox1">Thursday</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="days" id="inlineCheckbox1"
                                value="friday">
                            <label class="form-check-label" for="inlineCheckbox1">Friday</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="days" id="inlineCheckbox1"
                                value="saturday">
                            <label class="form-check-label" for="inlineCheckbox1">Saturday</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="days" id="inlineCheckbox1"
                                value="sunday">
                            <label class="form-check-label" for="inlineCheckbox1">Sunday</label>
                        </div>

                    </div>
                    <div class="col-2-sm"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-3"></div>
                    <div class="col-3"></div>
                    <div class="col-3"></div>

                </div>
            </div>


            <div class="container-fluid">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="basic-addon1">Enter Your Name</span>
                            <input class="form-control" type="text" name="username" id="">
                            <span><input class="btn btn-primary" type="submit" value="Submit"></span>
                        </div>

                    </div>

                    <div class="col-3"></div>
                </div>
            </div>


        </form>


        


    </body>

    </html>

</body>

</html>
//